<header>
    <div class="header_main">
      <div class="header_logo">
        <h1><a>Best Logo</a></h1>
      </div>
      <div class="header_nav">
        <nav>
          <ul class="nav_list">
            <li class="nav_list-item"><a>Home</a></li>
            <li class="nav_list-item"><a>About</a>
              <ul class="nav_sub_list">
                <li><a>History</a></li>
                <li><a>Achievements</a></li>
                <li><a>Goal</a></li>
              </ul>
            </li>
            <li class="nav_list-item"><a>Portfolio</a></li>
            <li class="nav_list-item"><a>Contacts</a>
              <ul class="nav_sub_list">
                <li><a>Offices</a></li>
                <li><a>Support service</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header_signUpOn">
        <a href="#"><i class="fas fa-user-circle"></i></a>
      </div>
    </div>
    <div class="header_img">
      <h2>First task &#10138;</h2>
    </div>
</header>
